# No node_modules:
node_modules/

# No browser specific configs:
.vscode
.idea

# Ignore Mac files:
.DS_Store
*.DS_Store

# No user data or config:
data/**/*
config/**/*

# Allow default config files:
!config/*.default

# No builds:
build/**/*

# Allow all keep files:
!**/.keep
