# No node_modules:
node_modules/

# No package-lock.json (package manager specific):
package-lock.json

# No browser specific configs:
.vscode
.idea
*.code-workspace

# Ignore Mac files:
.DS_Store
*.DS_Store

# No databases:
data/*.sqlite

# No user config:
config/**/*

# Allow default config files:
!config/*.default

# No builds:
build/**/*

# Allow all keep files:
!**/.keep

# Coverage directory used by tools like istanbul:
coverage
