:root {
    --background-colour: #000;
    --active-colour: #222;
    --contrast-colour: #444;
    --font-colour: #fff;
    --error-colour: #b61515;

    --default-element-spacing: 0.3rem;

    --header-height: 1rem;

    --semi-transparent-opacity-value: 0.5;
}

html, body {
    overflow: hidden;
}

body {
    margin: 0;
    padding: var(--default-element-spacing);

    background-color: var(--background-colour);

    font-family: Arial, Helvetica, sans-serif;

    color: var(--font-colour);
}

.textAlignLeft {
    text-align: left;
}

.textAlignCentre {
    text-align: center;
}

.textAlignRight {
    text-align: right;
}

.displayFlexEqualGrow {
    display: flex;
}

.displayFlexEqualGrow * {
    flex-grow: 1;
    flex-basis: 0;
}

.errorMessage {
    color: var(--error-colour);
}

@keyframes flash {
    50%, 100% {
        opacity: 1;
    }
    0%, 75% {
        opacity: 0.25;
    }
}

.flash {
    animation-name: flash;
    animation-duration: 0.5s;
}
