body {
    margin: 0;
    background-color: #000;

    display: flex;
    justify-content: center;
    align-items: end;

    font-family: Arial, Helvetica, sans-serif;
}

#paper {
    width: 125vh;
    height: 100vh;
    background-color: #444;
}

#paper td {
    background-color: #000;
    background-size: 100%;
    background-repeat: no-repeat;
}

td:hover {
    opacity: 0.5;
}

.sideDiv {
    width: 5vw;
}

#coordinates {
    color: white;
}

#palette {
    position: absolute;

    width: 5.8vh; /* TODO: This should be dynamic, maybe the same way as the paper table? */
    height: 16.7vh; /* TODO: This should be dynamic, maybe the same way as the paper table? */

    background-color: #888;
}

#paletteCoordinates {
    height: 2.0vh;
    width: 5.2vh;
    margin: 0.2vh 0.2vh 0 0.2vh;
    float: left;
}

.tool {
    /* TODO: This should be dynamic, maybe the same way as the paper table? */
    width: 2.5vh;
    height: 2.5vh;
    margin: 0.2vh;
    float: left;

    position: relative;
}

.tool img {
    width: 100%;
    height: 100%;
}

.tool img:hover {
    opacity: 0.5;
}

.toolHoverText {
    visibility: hidden;
    opacity: 0;

    position: absolute;

    width: max-content;
    bottom: 125%;
    left: 50%;

    padding: 0.4em 0.5em;

    border-radius: 0.5em;

    background-color: #444;
    color: white;

    text-align: center;

    transition: opacity 0.3s;
}

.tool:hover .toolHoverText{
    visibility: visible;
    opacity: 1;
}
