:root {
    --background-colour: #000;
    --contrast-colour: #444;

    --default-element-spacing: 0.3rem;

    --header-height: 1rem;

    --tool-image-size: 2rem;
    --tool-border-size: 0.2rem;
    --tool-spacing: 0.5rem;

    --semi-transparent-opacity-value: 0.5;
}

html, body {
    overflow: hidden;
}

body {
    margin: 0;
    padding: var(--default-element-spacing);

    display: flex;

    background-color: var(--background-colour);

    font-family: Arial, Helvetica, sans-serif;

    color: #FFF;
}

.textAlignLeft {
    text-align: left;
}

.textAlignCentre {
    text-align: center;
}

.textAlignRight {
    text-align: right;
}

.displayFlexEqualGrow {
    display: flex;
}

.displayFlexEqualGrow * {
    flex-grow: 1;
    flex-basis: 0;
}

.header {
    height: var(--header-height);

    margin-bottom: var(--default-element-spacing);
}

.coordinatesSplitter {
    flex-grow: 0;

    margin: 0 0.2rem;
}

#paper {
    --border-spacing: 2px;

    --defaulted-y-count: var(--paper-y-count, 10);
    --defaulted-x-count: var(--paper-x-count, 15);

    --paper-height: calc(100vh - var(--header-height) - 3 * var(--default-element-spacing));
    --paper-width: calc(((var(--paper-height) - var(--border-spacing)) * var(--defaulted-x-count) + var(--border-spacing) * var(--defaulted-y-count)) / var(--defaulted-y-count));

    width: var(--paper-width);
    height: var(--paper-height);

    border-spacing: var(--border-spacing);

    font-size: 0;

    background-color: var(--contrast-colour);
}

#paper td {
    position: relative;

    padding: 0;

    background-color: var(--background-colour);
}

#paper td div {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    opacity: calc(var(--voting-count, var(--highest-voting-count, 1)) / var(--highest-voting-count, 1));
}

#paper td:hover {
    opacity: var(--semi-transparent-opacity-value);
}

#paper td.selectedPoint {
    opacity: var(--semi-transparent-opacity-value);
}

.sideDiv {
    margin-left: var(--default-element-spacing);

    flex-basis: 0;
    flex-grow: 1;
}

#palette {
    margin: 1rem;
    padding: 0.5rem;
}

#tools {
    display: grid;

    grid-template-columns: repeat(4, auto);
    grid-auto-rows: calc(var(--tool-image-size) + 2 * var(--tool-spacing) + var(--tool-border-size));
}

#tools > div {
    position: relative;

    padding: var(--tool-spacing);

    background-color: var(--contrast-colour);

    border-bottom: var(--tool-border-size) solid var(--background-colour);
    border-right: var(--tool-border-size) solid var(--background-colour);
}

.tool > * {
    float: left;
}

.tool > img {
    width: var(--tool-image-size);
    height: var(--tool-image-size);
}

.tool:hover {
    opacity: 0.75;
}

.voteCount {
    margin-left: var(--tool-spacing);

    line-height: var(--tool-image-size);
}

.tooltip {
    visibility: hidden;
    opacity: 0;

    position: absolute;
    z-index: 1;

    width: max-content;
    bottom: 75%;
    left: 25%;

    padding: 0.4rem 0.5rem;

    border-radius: 0.5rem;

    background-color: #333;
    color: white;

    text-align: center;

    transition: opacity 0.3s;
}

.tool:hover .toolHoverText{
    visibility: visible;
    opacity: 1;
}
