:root {
    --default-element-spacing: 0.3rem;

    --header-height: 1rem;
}

html, body {
    overflow: hidden;
}

body {
    margin: 0;
    padding: var(--default-element-spacing);

    display: flex;

    background-color: #000;

    font-family: Arial, Helvetica, sans-serif;

    color: #FFF;
}

.textAlignLeft {
    text-align: left;
}

.textAlignCentre {
    text-align: center;
}

.textAlignRight {
    text-align: right;
}

.displayFlexEqualGrow {
    display: flex;
}

.displayFlexEqualGrow * {
    flex-grow: 1;
    flex-basis: 0;
}

.header {
    height: var(--header-height);

    margin-bottom: var(--default-element-spacing);
}

.coordinatesSplitter {
    flex-grow: 0;

    margin: 0 0.2rem;
}

.contentHolder img {
    width: 100%;
    height: 100%;
}

#paper {
    --defaulted-y-count: var(--paper-y-count, 10);
    --defaulted-x-count: var(--paper-x-count, 15);

    --border-spacing: 2px;
    --border-space-y: calc(var(--border-spacing) * (var(--defaulted-y-count) + 1));
    --border-space-x: calc(var(--border-spacing) * (var(--defaulted-x-count) + 1));

    --paper-height: calc(100vh - var(--header-height) - 3 * var(--default-element-spacing));
    --paper-height-without-spacing: calc(var(--paper-height) - var(--border-space-y));

    --paper-width-without-spacing: calc(var(--paper-height-without-spacing) / var(--defaulted-y-count, 1) * var(--defaulted-x-count, 1.5));
    --paper-width: calc(var(--paper-width-without-spacing) + var(--border-space-x));

    width: var(--paper-width);
    height: var(--paper-height);

    border-spacing: var(--border-spacing);

    font-size: 0;

    background-color: #444;
}

#paper td {
    background-color: #000;
}

#paper td:hover {
    opacity: 0.5;
}

.sideDiv {
    margin-left: var(--default-element-spacing);

    flex-basis: 0;
    flex-grow: 1;
}

#palette {
    position: absolute;

    border-radius: 2%;

    background-color: #444;
}

#paletteCoordinates {
    margin: 0.2rem;
}

.tool {
    width: 2rem;
    height: 2rem;

    padding: 0 0.1rem;

    position: relative;
}

.tool img:hover {
    opacity: 0.5;
}

.tooltip {
    visibility: hidden;
    opacity: 0;

    position: absolute;
    z-index: 1;

    width: max-content;
    bottom: 125%;
    left: 50%;

    padding: 0.4rem 0.5rem;

    border-radius: 0.5rem;

    background-color: #333;
    color: white;

    text-align: center;

    transition: opacity 0.3s;
}

.tool:hover .toolHoverText{
    visibility: visible;
    opacity: 1;
}
