body {
    background-color: #589c00;
}

#paper {
    background-color: #589c00;
}

#paper td {
    background-color: #589c00;

    opacity: 1;
}

#paper td div {
    opacity: 1;
}

#palette {
    visibility: hidden;
}
