body {
    margin: 0;
    background-color: #000;

    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 100vh;
    height: 100vh;
    background-color: #444;
}

td {
    background-color: #000;
}

td:hover {
    opacity: 0.5;
}