*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    --werkzeug-farbe: #888;
}

table {
    width: 150vh;
    height: 100vh;
}

.standard-background table {
    background-color: #444;
}

.transparent-background table,
.transparent-background td {
    background-color: transparent;
}

td {
    background-size: 100%;
    background-repeat: no-repeat;
}

td:hover {
    opacity: 0.5;
}

.standard-background td {
    background-color: #000;
}

.standard-background {
    background-color: black;
}

.transparent-background {
    background-color: #589c00;
}

.grid-container {
    display: flex;
}

.sidebar {
    flex-grow: 0;
    /* Mindestens 9 Zeichen (-128:-128) */
    min-width: 9ch;
}

.transparent-background .sidebar {
    display: none;
}

.werkzeug-container {
    background-color: var(--werkzeug-farbe);
}

.werkzeug {
    background-size: 90%;
    background-color: transparent;
    padding-bottom: 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid transparent;
}

.werkzeug:hover {
    background-color: lightblue;
}

.werkzeug.selected {
    border-color: black;
    border-right-color: white;
    border-bottom-color: white;
}

.sidebar .werkzeug {
    width: 9ch;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.standard-background .PLeer {
    background-image: url('/images/Leer.png');
}
.PWeg {
    background-image: url('/images/Weg.png');
}
.PPlatte {
    background-image: url('/images/Platte.png');
}
.PTorO {
    background-image: url('/images/Tor_Oben.png');
}
.PTorR {
    background-image: url('/images/Tor_Rechts.png');
}
.PTorU {
    background-image: url('/images/Tor_Unten.png');
}
.PTorL {
    background-image: url('/images/Tor_Links.png');
}
.PStufen {
    background-image: url('/images/Stufen.png');
}
.PPfeil {
    background-image: url('/images/Pfeil.png');
}

.table-container {
    flex-grow: 5;
}

.sidebar-rechts {
    float: right;
}

.sidebar-links {
    float: left;
}

.koordinaten {
    color: white;
}

.palette {
    position: absolute;
    background-color: var(--werkzeug-farbe);
}

.palette .werkzeug {
    width: 50%;
    padding-bottom: 50%;
    display: inline-block;
}
